<style>
 .admin-nav {
   text-align: right;
 }
 .admin-nav-btn {
   display: inline-block;
   text-align: center;
   width: 120px;
   height: 22px;
   line-height: 22px;
   margin: 0 4px 6px;
   background-color: green;
   color: white;
   border-radius: 10px;
 }
</style>
<div class="admin-nav">
  <a href="/edit" class="admin-nav-btn">Change Password</a>
  <a href="/admin" class="admin-nav-btn">Manage Site</a>
  <a href="/logout" class="admin-nav-btn">Logout</a>
</div>
