</head>
<body>

  <!-- Off Canvas menu -->
  <nav class="pushy pushy-right custom-pushy">
    <li class="pushy-link"><a href="/">Home</a></li>
    <li class="pushy-link"><a href="/monkeydown/">Monkeydown</a></li>
    <li class="pushy-link"><a href="/ghstars/">GHstars</a></li>
    <li class="pushy-link"><a href="mailto:sp@monkeysoft.cc">Email</a></li>
  </nav>

  <div class="site-overlay"></div>


  <main class="push">
    <!-- main nav -->

    <nav class="tab-bar">
      <section>
        <div>
          <div class="main-nav">
            <a href="/" class="logo">
              <img src="/img/monkeysoft.png">
            </a>
            <ul class="inline-list">
              <li class="hide-for-small"><a href="/monkeydown/">Monkeydown</a></li>
              <li class="hide-for-small"><a href="/ghstars/">GHstars</a></li>
              <li class="menu-btn"><a class="">&#9776; Menu<span></span></a></li>
            </ul>
          </div>
        </div>
      </section>
    </nav>

    <!-- Main Content -->
    <section class="main-section text-center">
      <section id="home">
