					<div class="row">
						<div class="col-xs-12 text-center">
              <section class="note">
                <span id="questions">Questions?&nbsp;</span><span>Talk to <a href="mailto:sp@monkeysoft.cc">sp@monkeysoft.cc</a>, we're listening.</span>
              </section>
              <footer>
                <span class="copyright" style="font-size: 1.0rem;">© <a href="/">Monkeysoft</a> Inc, 2016 - 2017.</span>
				      </footer>
						</div>
					</div>
		</section>
</main>

<script src="/js/vendor/validate.min.js"></script>
<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendor/bootstrap.min.js"></script>
<script src="/js/vendor/pushy.min.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/main.js"></script>
