<style>
 .page-msg { font-size: 14px; }
 .page-msg .info {
   color: green;
 }
 .page-msg .error {
   color: red;
 }
 .detail .validate-msg {
   margin-top: 2px;
   color: red;
 }
</style>
<div class="page-msg">
  <div class="info"><%= infos %></div>
  <div class="error"><%= errors %></div>
</div>
