<% include _header %>

<header class="text-center">
  <div class="small-12 columns text-center">
  <h1>Edit your profile</h1>
  </div>
</header>

<section class="products text-center">
<div class="row">

  <% include _admin_nav %>

  <% include _page_msg %>

  <form name="js-edit-form-admin" class="form" action="/edit" method="post">
    <label for="password">Password</label>
    <input name="password" type="password" class="field" ><br>
    <div class="field-description">
      <div class="validate-msg" id="js-edit-form-admin-password-vd-msg"></div>
    </div>
    <br>
    <label for="password-confirm">Confirm</label>
    <input name="password-confirm" type="password" class="field" ><br>
    <div class="field-description">
      <div class="validate-msg" id="js-edit-form-admin-password-confirm-vd-msg"></div>
    </div>
    <br>
    <input type="submit" value="Update password" class="try">
  </form>
</div>
</section>

<% include _body_footer %>

<script src="/js/edit.js"></script>

<% include _html_footer %>
