<% include _header %>

<header>
  <div class="small-12 columns text-center">
    <h1>We make elegant apps.</h1>
  </div>
</header>
<section class="products text-center">
  <div class="row">
    <div class="medium-6 columns">
      <div class="product-container monkeydown">
        <a href="/monkeydown/"></a>
        <div class="product">
          <div class="logo">
            <img class="" width="256" height="256" src="<%= iconMonkeydown %>" alt="Monkeydown - Markdown note app for you">
            <noscript><img class="" src="<%= iconMonkeydown %>" width="256" height="256" alt="Monkeydown - Markdown note app for you"></noscript>
          </div>
          <h2>Monkeydown</h2>
          <span>Markdown note app for you</span>
        </div>
      </div>
    </div>
    <div class="medium-6 columns">
      <div class="product-container ghstars">
        <a href="/ghstars/"></a>
        <div class="product">
          <div class="logo">
            <!--data-interchange="[/img/ghstars/ghstars.png, (default)], [/img/ghstars/ghstars.png, (retina)]"> -->
            <img class="" width="256" height="256" src="<%= iconGhstars %>" alt="GHstars - Manage Your GitHub starred repositories with groups and tags">
            <noscript><img class="" src="<%= iconGhstars %>" width="256" height="256" alt="GHstars - Manage Your GitHub starred repositories with groups and tags"></noscript>
          </div>
          <h2>GHstars</h2>
          <span>Manage GitHub starred repositories</span>
        </div>
      </div>
    </div>
  </div>
</section>


<% include _footer %>
