<% include _header %>

<header class="text-center">
  <div class="small-12 columns text-center">
    <h1>Log in Site Admin</h1>
  </div>
</header>

<div class="row text-center">

  <% if (currentUser) { %>

    <% include _admin_nav %>
    <h2 style="color: green;">You have already logged in as <%= currentUser.name() %>.</h2>

  <% } else { %>

    <% include _page_msg %>

    <form class="form" name="js-login-form" action="/login" method="post">
      <label for="username">Username</label>
      <input name="username" type="text" class="field"
        placeholder="Username" required autofocus><br>
      <div class="field-description">
        <div class="validate-msg" id="js-login-form-username-vd-msg"></div>
      </div>
      <br>

      <label for="password">Password</label>
      <input name="password" type="password" class="field" placeholder="Password"><br>
      <div class="field-description">
        <div class="validate-msg" id="js-login-form-password-vd-msg"></div>
      </div>
      <br>

      <input type="submit" value="Log in" class="try">
    </form>

  <% } %>
</div>

<% include _body_footer %>

<script src="/js/login.js"></script>

<% include _html_footer %>
