<% include _header %>

<header>
  <div class="small-12 columns text-center">
    <h1 style="color: green"><%= 'Payment success!' %></h1>
  </div>
</header>

<div class="row text-center">
  <p class="text-center"><%= infos %></p>
</div>

<% include _footer %>
