<% include _header %>

<header>
  <div class="small-12 columns text-center">
    <h1 style="color: green"><%= title %></h1>
  </div>
</header>


<div class="row text-center">
  <p><%= message %></p>
  <a href="/store/<%= soft %>">Back to store</a>
</div>

<% include _footer %>
