<% include _header %>

<header class="text-center">
  <h1>Sign up Site Admin</h1>
</header>

<div class="row text-center">

  <% include _page_msg %>

  <form class="form" name="js-signup-form" action="/signup" method="post">
    <label for="username">Username</label>
    <input name="username" type="text" class="field"
      placeholder="Username" required autofocus><br>
    <div class="field-description">
      <div class="validate-msg" id="js-signup-form-username-vd-msg"></div>
    </div>
    <br>

    <label for="password">Password</label>
    <input name="password" type="password" class="field" placeholder="Password"><br>
    <div class="field-description">
      <div class="validate-msg" id="js-signup-form-password-vd-msg"></div>
    </div>
    <br>
    <label for="password-confirm">Confirm</label>
    <input name="password-confirm" type="password" class="field" placeholder="Password"><br>
    <div class="field-description">
      <div class="validate-msg" id="js-signup-form-password-confirm-vd-msg"></div>
    </div>
    <br>
    <input type="submit" value="Sign up" class="try">
  </form>
</div>

<% include _body_footer %>

<script src="/js/signup.js"></script>

<% include _html_footer %>
